@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pag3 .container{
    margin-top: 30px;
    
}
.pag3 h1{
    
    margin: auto;
    text-align: center;

    background-color: var(--cor1);
    color: white;

    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;

    width: 800px;
    padding: 10px  80px; 
}

.pag3 article{
    color: black;
    background-color: white;
    text-align: center;


    width: 1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50px;
    padding: 50px 50px;

    font-weight: 500;
}

.pag3 .intro{
    text-align: left;
    font-size: 20px;
    
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.pag3 .intro .texto h2,h3,p{
    margin-top: 10px;
}

.pag3 .sec{
    margin-top: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.pag3 .sec #txt_esquerda{
    
    text-align: left;

}
.pag3 .sec #txt_direita{
    
    text-align: right;
    
}
.pag3 .sec p{
    margin-top: 10px;
    margin-bottom: 30px;
}
