@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font1: "Poppins", sans-serif;
    --cor1: #fe3e03;
    --max-width: 1200px;
}

body {
    color: white;
    background-color: black;
    font-family: var(--font1);
}

span {
    color: var(--cor1);
    font-weight: 800;
}
section {
    margin-bottom: 50px;
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: auto;
    align-items: center;

}
.home .imagem img {
    padding-top: 30px;
    max-width: 700px; 
    height: auto; 
}

.home-content {
    max-width: 600px;
    margin-left: 30px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1em;
   
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px 0px;
}

.btn-box {
    width: 345px;
    height: 50px;
    display: flex;
}

.btn-box a {
    position: relative;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    color: white;
    background-color: var(--cor1);

    padding-top: 10px;
    
    display: inline-flex;
    width: 300px;
    height: auto;

    border-radius: 10px;
    font-size: 20px;
    text-decoration: none;
    

    letter-spacing: 1px;
    box-shadow: 1px 1px 30px 5px var(--cor1);
    transition: 0.3s;
}

.btn-box a:hover {
    background-color: white;
    color: var(--cor1);
    border: 2px solid white;
    transform: scale(1.1);
    box-shadow: 1px 1px 30px 5px white;
}

section.sub-home {
    background-color: white;
    color: black;
    padding: 50px 10%;
    
}

.sub-home .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    max-width: var(--max-width);
    margin: auto;
    align-items: center;
    padding-bottom: 30px;
}

.sub-home .imagem2 img {
    max-width: 100%; 
}

.sub-home .texto {
    flex-direction: column;
    justify-content: center;
    padding-left: 50px; 
    margin-left: 60px;
}



.sub-home .texto h1 {
    background-color: var(--cor1);
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;

}

.sub-home .texto p {
    font-size: 19px;
    margin-bottom: 40px;
    line-height: 1.6;
}
